<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/login.css" />
    <title>Login Page</title>
  </head>
  <body>
    <div id="login">
      <form action="/register" method="post">
        <div class="imgcontainer">
          <img
            src="https://cdn-icons-png.flaticon.com/512/5087/5087579.png"
            alt="Avatar"
            class="avatar"
          />
        </div>
        <label>Usernname</label>
        <input type="email" name="username" placeholder="username" required />
        <label>Password</label>
        <input
          type="password"
          name="password"
          placeholder="password"
          required
        />
        <button type="submit">Register</button>
      </form>
    </div>
  </body>
</html>
