html {
  background-image: url("https://images.pexels.com/photos/3781338/pexels-photo-3781338.jpeg?auto=compress&cs=tinysrgb&w=600");
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#login {
  width: 400px;
  margin: 100px auto;
  background: white;
  border-radius: 20px;
  padding: 50px;
  color: lightblue;
  box-shadow: 0 30px 30px 0;
}
button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #1d24ca;
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
input {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border-top: none;
  border-left: none;
  border-color: #1d24ca;
}
label {
  font-size: large;
  margin-top: 50px;
  color: #1d24ca;
}
input:focus {
  outline: none;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}
.imgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
