html {
  background-image: url(/images/background.jpg);
  font-family: "comfortaa", sans-serif;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#login {
  width: 400px;
  margin: 100px auto;
  background: linear-gradient(red, black, rgb(0, 174, 255));
  border-radius: 20px;
  padding: 50px;

  box-shadow: 0 30px 30px 0;
}
button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: linear-gradient(red, black);
  color: white;
  font-family: "comfortaa", sans-serif;
  font-size: 25px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}
input {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  border-top: none;
  border-left: none;
  border-color: #1d24ca;
}
label {
  font-size: 25px;
  margin-top: 50px;
  color: white;
}
input:focus {
  outline: none;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}
.imgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
